.gallery,
.buttons {
    height: 450px;
}

.buttons {
    line-height: 450px;
}

.gallery figure {
    height: 100%;
    position: relative;
    display: none;

}

.gallery figure img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.gallery figcaption {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: end;
}

.gallery figure.active {
    display: block;
}

.buttons .bi {
    font-size: 3rem;
    color: black;
    cursor: pointer;
}

.thumbnails img {
    width: 19%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    filter: brightness(0.5);
    cursor: pointer;
}

.thumbnails img.active {
    filter: brightness(1);
}